[Desktop Entry]
Name=bzu-gmb-beta4-2
Exec=/home/gamer/.local/share/bzu-gmb/bzu-gmb-launcher.sh
Type=Application
Terminal=true
Categories=Game;System
StartupNotify=true
Path=/home/gamer/.local/share/bzu-gmb
Icon=/home/gamer/.local/share/bzu-gmb/icons/bzu-gmb512.png
