[Desktop Entry]
Name=bzu-gmb-beta4-8
Exec=bash -c /usr/share/bzu-gmb/bzu-gmb-launcher.sh
Type=Application
Categories=Game;System
StartupNotify=true
Path=/usr/share/bzu-gmb
Icon=/usr/share/bzu-gmb/icons/bzu-gmb512.png
Terminal=true
