[Desktop Entry]
Name=CoreCtrl
GenericName=Core control
Comment=Control your computer with ease using application profiles
Exec=corectrl
Icon=corectrl
StartupNotify=true
StartupWMClass=corectrl
Terminal=false
Type=Application
Categories=System;Settings;Utility;
Keywords=core;control;system;hardware;
X-GNOME-Autostart-Delay=15
# Translations
GenericName[bg]=Централен Контрол
Comment[bg]=Управлявайте компютъра си с лекота, изполвайки профили за програмите ви

GenericName[es_ES]=Control central
Comment[es_ES]=Controle su computadora fácilmente usando perfiles de aplicaciones

GenericName[ru]=Центральный контроль
Comment[ru]=Управляйте своим оборудованием с легкостью, используя профили приложений
